<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <a href="/">Home</a> | <a href="/about/">About</a>
  </header>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
